<div class="container">
  <div class="welcome_index">
    <div class="centerlist">
    <div class="checkmark">
      <div id="primary-content">
        <h1> Bloccitoff</h1>
        <% if current_user %>
          <h3> Welcome to Blocitoff, where you can maintain useful, non-overwhelming to-do lists. Create as many different lists as are helpful to you, and list "todos" on those lists. </h3>
          <h3>For each list, you may choose a "cutoff;" that is, a number of days each item on the list stays on the list before being automatically deleted. If you're planning a party a month from now, choose "30" for your cutoff. If you're making a todo list for tomorrow, you may choose "1" or "2". We suggest that for normal lists, a good average cutoff is 7 days, on the theory that if a todo has remained undone for a week, it probably was never all that important anyway.</h3>
          <h3> Click on <span class= 'huge'><%= link_to 'Create List', new_list_path %></span> to get started.</h3>
        <% else %>  
          <h3> Blocitoff is a resource for maintaining useful, non-overwhelming to-do lists!</h3>
          <br />
          <h3> <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary" %> or <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary" %> today!</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<%= javascript_include_tag "turbolinks_transitions" %>