<div class="container">
  <div class="centerlist">
  <div class="checkmark">
  <div id='primary-content'>
  <h1>Current TODO list</h1>

  <table class = "bigtable">
    <tr class="tableheadings">
      <th class="bigdescription"><h3>Description</h3></th>
      <th class="biglistname"><h3>List</h3></th>
      <th class="big_days_old"><h3>Days Old</h3></th>
      <th class="bigcompleted"></th>
    </tr>
    <% @todos.each do |t|%>
      <tr class="tablerows">
        <td class="bigdescription"><%= t.description %></td>
        <td class="biglistname"><%= link_to t.list.title, t.list %></td>
        <td class="big_days_old"><%= t.age_of_todo %></td>
        <td class="bigcompleted"><%= button_to 'Completed', {:id => t.id, :action => 'destroy'}, :method => :delete, data: {confirm: 'Do you want to delete this Todo?'} %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
</div>
</div>  