<h1>Please enter a description for your new TODO</h1>
<br />
<%= form_for @todo do |form| %>
  <%= form.text_field :description, placeholder: 'Description' %>
  <%= form.submit 'Save' %>
<% end %>
