@import "bootstrap";

table {
  width: 80%
}

th {
  height: 20px
}

.Description {
  width: 50%
  text-align: right
}

.DaysOld {
  width: 25%
  text-align: center
}

.Completed {
  width: 25%
  text-align: center
}