
table {
  width: 80%;
}

tr {
  height: 40px;
  color: #107D37;
}

h1 {
  color: #27024A;
}

th {
  height: 50px;
  text-size: extra-large;
  text-decoration: bold;
  background-color: #27024A;
  color: white;
}

.description {
  width: 50%;
  text-align: left;
  padding: 0 0 0 15px;
}

.days_old {
  width: 25%;
  text-align: center;
}

.completed {
  width: 25%;
  text-align: center;
}

