
table {
  width: 80%;
  background-color: red;
}

th {
  height: 20px;
}

.description {
  width: 50%;
  text-align: left;
}

.days_old {
  width: 25%;
  text-align: center;
}

.completed {
  width: 25%;
  text-align: center;
}