.new_todo {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.new_todo_form {
  width: 100%;
  margin-right: auto;
  margin-left: 0px;
}

.description_field {
  font-size: 125%;
  font-family: Forte, sans-serif;
}

.form_submit {
  color: #900315;
  font-size: 125%;
}

