.new_todo {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.new_todo_form {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.description_field {
  font-size: 125%;
  font-family: Forte, sans-serif;
}

.form_submit {
  color: #ff3f00;
  font-size: 125%;
}

