.welcome_index {
  margin-top: 70px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #404449;
}

a {
  color: #96244E
}

.huge {
  font-size: 200%;
  font-weight: bold;
}

h1 {
  color: #96244e;
}